/*
    Author: Antonio Nicasio
    Author URI: http://frameworkbox.com
*/
.weatherDataCont {
    background-color: #999999;
    line-height: 100px;
}

.weatherExtraInfo {
    background-color: #444444;
    width: 40%;
    display: inline-block;
    color: #eeeeee;
}

.weatherContTemperature {
    background-color: #222222;
    width: 60%;
    display: inline-block;
    color: #eeeeee;
}

.weatherLocationCont {
    display: inline-block;
    background-color: blue;
}