/*
    Author: Antonio Nicasio
    Author URI: http://frameworkbox.com
*/

.box {
    background-color: none;
}

.scroll{
    overflow:scroll;
}

.background-flourecent-red {
 background-color: #f7f1e3!important;
 color: #1e272e!important;   
}