/*
    Author: Antonio Nicasio
    Author URI: http://frameworkbox.com
*/

.box {
    background-color: #eeeeee;
    border-radius: 8px;
    box-shadow: 2px 2px 1px #dddddd;
}

.scroll{
    overflow:scroll;
}